@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lenis CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/* Lenis CSS */

/* Scrollbar style */
html::-webkit-scrollbar {
  width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #9db350;
  border-radius: 30px;
  cursor: pointer;
}
html::-webkit-scrollbar-track {
  background-color: #cdea68;
}
.sidebar-tab-container::-webkit-scrollbar {
  width: 0.8vw;
}
.sidebar-tab-container::-webkit-scrollbar-thumb {
  background-color: #9db350;
  border-radius: 30px;
  cursor: pointer;
}
.sidebar-tab-container::-webkit-scrollbar-track {
  background: rgba(212, 212, 212, 0.9);
  backdrop-filter: blur(20px);
  border-radius: 30px;
}

/* Navbar Blur Effect onScroll */
.sticky-nav {
  background: rgba(212, 212, 212, 0.3);
  backdrop-filter: blur(10px);
}

/* About Page */
.tech-box-img-container,
.tech-box-name-container {
  pointer-events: none;
}

/* Dashboard */
.glass-effect {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 8px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: "blur(5.5px)";
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Dashboard Projects Card */
.dash-cards-projects {
  box-shadow: 8px 5px 20px #0000008c;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-cards-projects::before {
  content: "";
  background-image: conic-gradient(#5850ec 10deg, transparent 120deg);
  width: 200%;
  height: 200%;
  position: absolute;
  animation: rotate-project 2s linear infinite;
}
.dash-cards-projects::after {
  content: "";
  width: 95%;
  height: 93%;
  position: absolute;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: inset 10px 10px 10px #cfcfcf;
}

/* Dashboard Skills Card */
.dash-cards-skills {
  box-shadow: 8px 5px 20px #0000008c;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-cards-skills::before {
  content: "";
  background-image: conic-gradient(#65a30d 10deg, transparent 120deg);
  width: 200%;
  height: 200%;
  position: absolute;
  animation: rotate-skill 3s linear infinite;
}
.dash-cards-skills::after {
  content: "";
  width: 95%;
  height: 93%;
  position: absolute;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: inset 10px 10px 10px #cfcfcf;
}

/* Dashboard Certificates Card */
.dash-cards-certificates {
  box-shadow: 8px 5px 20px #0000008c;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-cards-certificates::before {
  content: "";
  background-image: conic-gradient(#0891b2 10deg, transparent 120deg);
  width: 200%;
  height: 200%;
  position: absolute;
  animation: rotate-certificate 4s linear infinite;
}
.dash-cards-certificates::after {
  content: "";
  width: 95%;
  height: 93%;
  position: absolute;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: inset 10px 10px 10px #cfcfcf;
}
@keyframes rotate-project {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-skill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-certificate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Project Item Details */
.project-item-details-style p {
  font-family: "poppins";
  letter-spacing: -0.05em;
}
